* {
  margin: 0px;
  padding: 0px;
}

.container {
  background: linear-gradient(to right bottom, #cc2b5e, #753a88);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  box-shadow: 0 10px 10px black;
  background-color: white;
  min-width: 600px;
  min-height: 650px;
  width: 400px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #0000;
  margin-bottom: 10px;
}

/* todo app heading */
.header h1 {
  color: black;
  text-align: center;
  margin: 20px 0px;
}

/* input field for todo */
.task-input {
  font-family: inherit;
  margin-bottom: 5px;
  width: 420px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

/* add todo button */
.button-add {
  margin-left: 10px;
  width: 110px;
  height: 40px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 16px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.list-item {
  /* box-shadow: 0 3px 10px   rgb(0 0 0 / 0.2); */
  box-shadow: 3px 3px 3px 0px rgba(123,67,151,0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(123,67,151,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(123,67,151,0.75);  display: flex;
  margin: 20px 0px;
  border-radius: 10px;
  padding-top: 0px;
  padding-left: 14px;
  padding-bottom: 24px;
  padding-right: 14px;
  max-height: 20px;
}

.check-button, 
.delete-button {
  /* margin-bottom: 10px; */
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50px;
  padding-bottom: 7px;
  /* text-shadow: 1px 1px 2px black; */
}

.check-button {
  padding-left: 200px;
  color: #ff6c6c;
  margin-right: 10px;
}
.delete-button {
  color: lightseagreen;
}

.buttons {
  /* border: 2px solid black; */
  padding-top: 6px;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list {
  padding-top: 12px;
  /* border: 2px solid white; */
  margin-bottom: 5px;
  width: 220px;
  /* background-color: #12343b; */
  /* border: none; */
  color: black;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus, 
button:focus {
  outline: none;
}